.block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: var(--offset-lg);
  padding: var(--offset-lg);
  background-color: var(--clr-gray);
  border-radius: var(--std-border-radius-md);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: var(--offset-xs)
}

.body {
  display: flex;
  flex-direction: column;
  row-gap: var(--offset-sm);
}

.btn {
  width: 270px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}